In [2]:
import pandas as pd

In [3]:
hp = pd.read_csv('../datasets/happiness_cleaned.csv',index_col = 0)

In [4]:
ed = pd.read_csv('../datasets/education_cleaned.csv', sep=';', index_col = 0)

In [5]:
new_index = pd.read_csv('../datasets/new_index.csv',index_col = 0)

In [6]:
Europe = ['Albania', 'Andorra', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia', 'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Lithuania', 'Luxembourg', 'Macedonia', 'Malta', 'Moldova', 'Montenegro', 'Netherlands' , 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'Serbia' , 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom']

In [7]:
dfhp = hp[hp['Country'].isin(Europe)]

In [8]:
TOP10EUROPEHP = dfhp[['Country', 'Happiness_Score']].sort_values('Happiness_Score', ascending = False)[0:10]

In [9]:
TOP10EUROPEHP

        Country  Happiness_Score
0        Norway            7.537
1       Denmark            7.522
2       Iceland            7.504
3   Switzerland            7.494
4       Finland            7.469
5   Netherlands            7.377
8        Sweden            7.284
12      Austria            7.006
14      Ireland            6.977
15      Germany            6.951

In [10]:
dfed = ed[ed['Country'].isin(Europe)]

In [11]:
TOP10EDEUR = dfed[['Country', 'EducationIndex']].sort_values('EducationIndex', ascending = False)[0:10]

In [12]:
TOP10EDEUR

                Country  EducationIndex
Ranking
2               Denmark           0.923
4                Norway           0.916
5               Germany           0.914
6               Ireland           0.910
7               Iceland           0.906
9           Netherlands           0.897
10       United Kingdom           0.896
11          Switzerland           0.891
13             Slovenia           0.886
14            Lithuania           0.882

In [13]:
combined = pd.merge(dfed, dfhp, on = 'Country', how = 'inner')

In [14]:
combined["EducationIndex"].corr(combined["Happiness_Score"])

0.6594965390597789

### New Index

In [23]:
top10newi = new_index[new_index['Country'].isin(Europe)].sort_values('Happiness_Score', ascending = False)[0:10]

In [36]:
top10newi[['Country','Happiness_Score']].reset_index()

   index         Country  Happiness_Score
0      2         Iceland         8.360455
1      0          Norway         8.291546
2      1         Denmark         8.280464
3      3     Switzerland         8.277354
4     14         Germany         8.005263
5      5     Netherlands         7.999318
6     12         Austria         7.973737
7     16  United Kingdom         7.772247
8     13         Ireland         7.738374
9      4         Finland         7.734311

In [32]:
TOP10EUROPEHP.reset_index()

   index      Country  Happiness_Score
0      0       Norway            7.537
1      1      Denmark            7.522
2      2      Iceland            7.504
3      3  Switzerland            7.494
4      4      Finland            7.469
5      5  Netherlands            7.377
6      8       Sweden            7.284
7     12      Austria            7.006
8     14      Ireland            6.977
9     15      Germany            6.951