In [17]:
import pandas as pd
import numpy as np

In [2]:
#import the csv:

happiness = pd.read_csv('/Users/andressalomferrer/Desktop/ironhack/Projects/Project-Week-5-Your-Own-Project/your-project/datasets/happiness_2017.csv')

In [3]:
# header of the df:

happiness.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [4]:
#look at the types:

happiness.dtypes

Country                           object
Happiness.Rank                     int64
Happiness.Score                  float64
Whisker.high                     float64
Whisker.low                      float64
Economy..GDP.per.Capita.         float64
Family                           float64
Health..Life.Expectancy.         float64
Freedom                          float64
Generosity                       float64
Trust..Government.Corruption.    float64
Dystopia.Residual                float64
dtype: object

In [5]:
# missing values:

happiness.isnull().sum()

# There are no missing values

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [6]:
# looking at the shape we can see that we do not have all the countries, but we still have 155 so we will 
happiness.shape

(155, 12)

In [7]:
# Renaming columns:

happiness = happiness.rename(columns={"Happiness.Rank": "Ranking", "Happiness.Score": "Happiness_Score", "Whisker.high":"Whisker_high", "Whisker.low":"Whisker_low", "Economy..GDP.per.Capita.":"GDP_Capita", "Health..Life.Expectancy.":"Life_Expectancy", "Trust..Government.Corruption.":"Government_Corruption", "Dystopia.Residual": "Dystopia.Residual"})

In [8]:
# Doing the describe I realize that there are countries that have some of the variable that conform the happiness Score 
# are equal to 0. Let's take a look
happiness.describe()

,Ranking,Happiness_Score,Whisker_high,Whisker_low,GDP_Capita,Family,Life_Expectancy,Freedom,Generosity,Government_Corruption,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [9]:
happiness_filtered = happiness.query("GDP_Capita == 0 or Family == 0 or Life_Expectancy == 0 or Freedom == 0 or Generosity == 0 or Government_Corruption == 0").copy()

In [10]:
happiness_filtered

,Country,Ranking,Happiness_Score,Whisker_high,Whisker_low,GDP_Capita,Family,Life_Expectancy,Freedom,Generosity,Government_Corruption,Dystopia.Residual
86,Greece,87,5.227,5.325246,5.128754,1.289487,1.239415,0.810199,0.095731,0.000000,0.043290,1.749222
89,Bosnia and Herzegovina,90,5.182,5.276336,5.087665,0.982409,1.069336,0.705186,0.204403,0.328867,0.000000,1.892173
138,Lesotho,139,3.808,4.044344,3.571656,0.521021,1.190095,0.000000,0.390661,0.157497,0.119095,1.429835
139,Angola,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [11]:
# I won't keep the values that are 0.0 because they are unreal, instead, I'll replace them for a NaN value

In [12]:
cols = ['GDP_Capita','Family','Life_Expectancy', 'Freedom', 'Generosity', 'Government_Corruption']
happiness[cols] = happiness[cols].replace(0, np.NaN)

In [13]:
happiness.head(2)

,Country,Ranking,Happiness_Score,Whisker_high,Whisker_low,GDP_Capita,Family,Life_Expectancy,Freedom,Generosity,Government_Corruption,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707

In [14]:
happiness.isnull().sum()

Country                  0
Ranking                  0
Happiness_Score          0
Whisker_high             0
Whisker_low              0
GDP_Capita               1
Family                   1
Life_Expectancy          1
Freedom                  1
Generosity               1
Government_Corruption    1
Dystopia.Residual        0
dtype: int64

In [18]:
# maybe I should drop them? (ask)

In [16]:
happiness.to_csv('/Users/andressalomferrer/Desktop/ironhack/Projects/Project-Week-5-Your-Own-Project/your-project/datasets/happiness_cleaned.csv')