In [1]:
import pandas as pd

In [3]:
#import the csv:

happiness = pd.read_csv('/Users/andressalomferrer/Desktop/ironhack/Projects/Project-Week-5-Your-Own-Project/your-project/datasets/happiness_2017.csv')

In [7]:
# header of the df:

happiness.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [6]:
#look at the types:

happiness.dtypes

Country                           object
Happiness.Rank                     int64
Happiness.Score                  float64
Whisker.high                     float64
Whisker.low                      float64
Economy..GDP.per.Capita.         float64
Family                           float64
Health..Life.Expectancy.         float64
Freedom                          float64
Generosity                       float64
Trust..Government.Corruption.    float64
Dystopia.Residual                float64
dtype: object

In [13]:
# missing values:

happiness.isnull().sum()

# There are no missing values

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [17]:
# Renaming columns:

happiness = happiness.rename(columns={"Happiness.Rank": "Ranking", "Happiness.Score": "Happiness_Score", "Whisker.high":"Whisker_high", "Whisker.low":"Whisker_low", "Economy..GDP.per.Capita.":"GDP/Capita", "Health..Life.Expectancy.":"Life_Expectancy", "Trust..Government.Corruption.":"Government_Corruption", "Dystopia.Residual": "Dystopia.Residual"})